.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.span {
  color: #0070f3;
}

.desc {
  text-align: center;
}

.desc .span {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2em;
  text-align: center;
}

.form {
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.input {
  min-width: 12rem;
  border: none;
  outline: none;
  margin: 24px;
  font-size: 16px;
}

.button {
  width: 80px;
  height: 45px;
  margin-right: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 20px rgba(0,112,243, 0.4);
  background-color: #0070f3;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button:hover {
  box-shadow: 0px 3px 15px rgba(0,112,243, 0.8);
  background-color: #0070f3;
}