
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--color);
}

.desc {
  text-align: center;
  font-weight: 600;
}

.desc .span {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2em;
  text-align: center;
}

.form {
  border-radius: 45px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.input {
  min-width: 12rem;
  border: none;
  outline: none;
  margin: 24px;
  font-size: 16px;
}

.button {
  width: 80px;
  height: 45px;
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 10px -3px var(--color);
  background-color: var(--color);
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button:hover {
  box-shadow: 0px 3px 12px var(--color);
}

.theme{
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding-bottom: 3rem;
}

 /* If a screen is 350px or less wide, the button is in the middle*/
 @media screen and (max-width: 350px) {
  .button {
    display: block;
    margin: auto;
  }
}