.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animate {
  animation: zoom 2s ease-in-out;
  padding: 30px;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.canvas {
  position: fixed;
  z-index: -1;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.span {
  color: #0070f3;
}

.desc {
  text-align: center;
}

.desc .span {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  display: block;
}

/* Added animation on the title */
.title span {
  display: inline-block;
  white-space: pre;
  animation: wavyText 1.5s ease-in-out 2s infinite;
  animation-delay: calc(((1.5s / var(--wish-length)) * var(--i)) + 2s);
}

@keyframes wavyText {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

/* ---------------------------- */

.button {
  padding: 16px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 20px rgba(0, 112, 243, 0.4);
  background-color: #0070f3;
  color: #fff;
  transition: all 0.3s ease 0s;
  margin: auto;
  display: block;
  margin-top: 80px;
}

.button:hover {
  box-shadow: 0px 3px 15px rgba(0, 112, 243, 0.8);
  background-color: #0070f3;
}
